*{

    margin:0 ;
    font-family: arial;
    border: border-box;
}

.navbar{
    height: 60px;
    width: 100%;
    background-color: rgb(35, 30, 30);
   display: flex;
   justify-content: space-evenly;
   align-items: center;


}
.img{
width: 100px;
   height: 50px;
   background-position: center;
   background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/*box 2*/

.address{
    color: white;
margin-left: 5px;

}

.icon{
    display: flex;
}
.add1{
    margin-left:15px;
    font-size: 12px;
}
.add2{
    margin-left: 5px;
}
.border{
    border: 1px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}
/*box3*/

.search{
    display: flex;
    justify-content: space-evenly;
    margin-left: 15px;
    color: black;
    display: flex;
    height: 35px;
    width: 640px;

}

.option{
   align-items: center;
   border-top-left-radius:4px ;
   border-bottom-left-radius:4px ;
   width: 40px;
   background-color: aliceblue;
}


.search-icon{
    background-color: orange;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
   
}
.searchin{
    width: 560px;
    font-size: medium;
   
}

.search:hover{
    border: 2px solid orangered;
   
}
/*box4*/

.sign-in{
    margin-left: 15px;
    color: antiquewhite;
}
#id1{
    font-size: 0.7rem;
}
#id2{
    font-size: 0.9rem;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/*box5*/
.order{
    margin-left:15px ;
    color: antiquewhite;

}
#od1{
    font-size: 0.7rem;
}
#od2{
    font-size: O.9rem;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*box6*/
.card-icon{
    margin-left: 15px;
    display: flex;
    color: bisque;
    font-size: 1.5rem;
}
.card{
margin-top: 10px;
    color: antiquewhite;
    font-size: 0.8rem;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
/*panel2*/



.panel{
    background-color: rgb(52, 52, 53);
    color:white;
    height: 35px;
    display: flex;
   justify-content: space-evenly;
    align-items: center;
}


.panelall{
    display: flex;
    font-size: 1rem;


}

.panelall:hover{
    border: 1.5px solid white;
}
.all{
    margin-left: 3px;
    font-size: 1rem;
}

.sale{
    display: flex;
    width: 75%;
    font-size: 0.9rem;
}
.sale p{
    margin: 15px;
}

p:hover{
    border:2px solid white;
}
.shop:hover{
    border: 1.5px solid white;
}

/*hero part*/




.hero-img{
    background-image: url(./images/hero.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-line{
    color: black;
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    font-size: 0.8rem;
    width: 80%;
    margin-bottom: 25px;
    border-radius: 4px;
}

.hero-line a{
    color: rgb(25, 0, 255);
    font-size: 0.9rem;
}

/*boxs*/

.shopbox{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 182, 206);
}
.box{
    margin-top: 15px;
    height: 300px;
    width: 22%;
    border: 2px solid rgb(243, 224, 224);
    border-radius: 10px;
    background-color: white;
    padding: 20px 0px 15px;

   
}
/*b1*/

.shirt{

   height: 250px;
   width: 100%;
   
   background-repeat: no-repeat;
   background-position: center;
   
   

   
   
}
.man-dress{
   margin-left: 10px;
   margin-right: 10px;

    
}

.man-dress p{
    color: rgb(0, 21, 255);
}


/*b2*/
.dress{
    
    height: 250px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
}
.women-dress{
    margin-left: 10px;
    margin-right: 10px;
 
     
 }
 
 .women-dress p{
     color:rgb(0, 21, 255) ;
 }

 /*b3*/
 .foot{
    
    height: 250px;
    width: 100%;
    
    background-repeat: no-repeat;
    background-position: center;
}
.foot-wears{
    margin-left: 10px;
    margin-right: 10px;
 
     
 }
 
 .foot-wears p{
     color: rgb(0, 21, 255);
 }
 .foot-wears h2{
    font-size: 1.4rem;
 }
/*b4*/
.trees{
    
    height: 230px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
}
.plant{
    margin-left: 10px;
    margin-right: 10px;
 
     
 }

 .plant p{
     color: rgb(0, 21, 255);

 }

 /*offerbox*/


 .offerbox{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(248, 180, 191);
}
.box{
    margin-top: 15px;
    height: 300px;
    width: 22%;
    border: 2px solid rgb(243, 224, 224);
    border-radius: 10px;
    background-color: white;
    padding: 20px 0px 15px;
    

   
}
/*b1*/
.offercloth{
    height: 250px;
    width: 100%;
background-position:center ;
background-size: cover;
margin-top: 5px;
}
.offer{
    margin-left: 10px;
    margin-right: 10px;
 
     
 }
 
 .offer p{
 margin-top: 5px;
     color:rgb(0, 21, 255) ;
 }
 /*b2*/

 .offerdevice{
    height: 230px;
   width: 100%;
background-position: center;
  
    margin-top: 5px;
 }
 .device{
    margin-left: 10px;
    margin-right: 10px;
 
     
 }
 
 .device p{
     color:rgb(0, 21, 255) ;
     margin-top: 5px;
  
 }
 /*b3*/
 .offertshirt{
    height: 230px;
   width: 100%;
   background-size:contain ;
    background-position: center;
    
    margin-top: 5px;
 }
 .tshirt{
    margin-left: 10px;
    margin-right: 10px;
 
     
 }
 
 .tshirt p{
     color:rgb(0, 21, 255) ;
     margin-top: 5px;
    
 }
 /*b4*/
 .offerrack{
    height: 250px;
   width: 100%;
   align-items: center;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
   
    
    margin-top: 5px;
 }
 .furniture{
    margin-left: 10px;
    margin-right: 10px;
 
     
 }
 
 .furniture p{
     color:rgb(0, 21, 255) ;
     margin-top: 5px;
    
 }

 /*footer last*/


 .footer-panel{
    margin-top: 15px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(56, 52, 52);
 }
.back{
    text-decoration: none;
    color: white;
}

 .foot_panel2{
    background-color: rgb(96, 96, 96);
    color: white;
    height: 300px;
        display: flex;
        justify-content: space-evenly;
    
 }

 ul{
    margin-top: 40px;
 }
 ul a{
    display: block;
    font-size: 1rem;
    margin-top: 5px;
 }
 ul p{
    font-size: 1.3rem;
    color: rgb(191, 232, 232);
 }
 /*foot3*/
 .foot-panel3{
    background-color: rgb(35, 30, 30);
    height: 200px;

 }
 .join{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .img1{
    width: 100px;
       height: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 30px;
       background-position: center;
       background-size: cover;
    }
    .india{
        margin-top: 30px;
        border: transparent;
        background-color:rgb(35, 30, 30);
        color: white;
    }
    .country{
        
        color: white;
        display: flex;
        justify-content: space-evenly;
    margin-top: 20px;    }

    .world{
        border:2px solid transparent;
       color: white;
       margin-left:10px;
  
       
    }
  
  
    
 